<head><style type="text/css">@import url(wbarchiv.css);</style></head><body><strong><a href="40939.htm">Previous</a> | <a href="42053.htm">Next</a></strong><hr size=0>
<b>Topic:</b> Version, Config<br>
<b>Conf:</b> 538, Msg: 42019<br>
<b>From:</b> David E. Johnson (<a href="mailto:david.johnson@uinet.com">david.johnson@uinet.com</a>)<br>
<b>Date:</b> 3/9/01 06:53 AM<br>

<p><title>Version, Config David E. Johnson johnsod david.johnson@uinet.com</title>
In our environment all packages have a version function that returns a string indicating the package body source version<br>
(maintained by rcs '$Revision: 132 $' keyword expansion).<br>
<br>
Would it be possible for the tables recording the package test results to include the last_version tested, along with the last_start and last_end times?<br>
<br>
Also could the ut_config table be used to override the default configuration for all schemas at initialization, perhaps by coding the values using a special username such as '%' or '*' or 'ALL' ? <br>


</body>
